<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Спасибо</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/invite.css">
</head>
<body>

<div class="editorial">

    <div class="date fade">Спасибо</div>

    <div class="text fade">
        <p>
            Мы получили ваш ответ и очень рады 💛
        </p>
        <p>
            До скорой встречи!
        </p>
    </div>

    <div class="rsvp fade">
        <a href="/invite" class="rsvp-link">Вернуться к приглашению</a>
    </div>

</div>

<div class="grain"></div>

</body>
</html>
